/*
Nathan Baker
Project 1
MiU
06/2012 term
*/

html {
	background:url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

h1 {
	border: 1px solid #000000;
	border-radius: 10px;
	color: #ffffff;
	padding: 3px;
	text-align: center;
	background-color: #709c4f;
	box-shadow: 3px 3px 3px #000000;
	font: bold 28px Arial;
}

h2 {
	border: 1px solid #000000;
	border-radius: 10px;
	color: #ffffff;
	padding: 3px;
	text-align: center;
	background-color: #709c4f;
	box-shadow: 3px 3px 3px #000000;
	font: bold 20px Arial;
}

h3 {
	border: 1px solid #000000;
	border-radius: 10px;
	color: #4d4d4d;
	padding: 3px;
	text-align: center;
	background-color: #a7bf97;
	box-shadow: 3px 3px 3px #000000;
	font: bold 20px Arial;
}

#browse {
	border-radius: 5px;
	background-color: #ffffff;
	padding: 1px 10px;
}

#clearLink {
	appearance:button ;
	-moz-appearance:button ;
	-webkit-appearance:button ;
	margin: 5px;
	box-shadow: 3px 3px 3px #A64E00;
}

label {
	display: block;
	text-align: left;
	font: bold 14px Arial;
}

fieldset {
	padding: 10px;
	background-color: #FFC140;
	margin: 10px;
	font: bold italic 18px Arial;
	box-shadow: 3px 3px 3px #A64E00
}

#displayLink {
	appearance:button ;
	-moz-appearance:button ;
	-webkit-appearance:button ;
	margin: 5px;
	box-shadow: 3px 3px 3px #A64E00;
}

#addNew {
	appearance:button ;
	-moz-appearance:button ;
	-webkit-appearance:button ;
	margin: 5px;
	box-shadow: 3px 3px 3px #A64E00;
}

/*input[type="range"] {
	-webkit-appearance: none;
	background-color: black;
	height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	top: -1px;
	z-index: 1;
	width: 11px;
	height: 11px;
	
	-webkit-border-radius: 40px
	-moz-border-radius: 40px;
	border-radius: 40px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb));
}*/

li {
	margin: 8px;
	list-style-type: none;
}

a {
	color: #133CAC;
}

input:focus {
	background-color: #FFC140;
}

input:hover {
	background-color: #FFD273;
}

a:hover {
	color: #476DD5;
}

a:visited {
	color: #OOC618;
}

a:link {
	color: #133CAC;
	text-decoration: none;
}